.wpcf7-submit,
.wp-block-button__link,
.button {
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-family: var(--font-bitter-family);
  font-weight: 700;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  padding: 1.5rem 4.25rem;
  text-decoration: none;

  &--theme-white,
  &--theme-red {
    background: var(--color-red);
    color: white;

    &:hover,
    &:focus {
      background: var(--color-red-dark);
    }
  }

  &--theme-cyan {
    background: var(--color-cyan);
    color: white;

    &:hover,
    &:focus {
      background: var(--color-cyan-dark);
    }
  }

  &--theme-magenta {
    background: var(--color-magenta);
    color: white;

    &:hover,
    &:focus {
      background: var(--color-magenta-dark);
    }
  }
}

.wpcf7-submit,
.wp-block-button__link {
  background: var(--color-red);
  color: white;
  margin-bottom: 3rem;
  margin-top: 3rem;

  &:hover,
  &:focus {
    background: var(--color-red-dark);
  }
}
