.content {
  align-items: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  &__first-project-block {
    display: flex;
    flex-wrap: nowrap;
  }
}
