.heading {
  h2 {
    font-family: var(--font-lulo-family);
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 5rem;
    text-transform: uppercase;
  }

  h3 {
    font-family: var(--font-lulo-family);
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 3rem;
    text-transform: uppercase;
  }
}
