.paragraph {
  font-size: 1.7rem;
  font-family: var(--font-bitter-family);
  line-height: 1.5;

  > * {
    margin-bottom: 0;

    > a:hover,
    > a:focus {
      color: var(--color-cyan);
    }
  }
}
