.projects {
  align-items: center;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 100%;

  &__title {
    font-family: var(--font-lulo-family);
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    margin-bottom:0 ;
    margin-top: 0;
    padding-left: 0;
  }
}
