.title {
  font-family: var(--font-lulo-family);
  font-size: 2.6rem;
  line-height: 1.2;
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;

  &__subtitle {
    display: block;
    font-family: var(--font-bitter-family);
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
  }
}
