:root {
  --color-red: hsla(0, 100%, 50%, 1);
  --color-red-dark: hsla(0, 100%, 40%, 1);
  --color-cyan: hsla(180, 100%, 50%, 1);
  --color-magenta: hsla(300, 98%, 38%, 1);

  --color-grey-dark: #414141;
  --color-grey-medium: #6B6B6B;
  --color-grey-light: #D8D8D8;

  --color-text: #030303;

  --font-bitter-family: 'Bitter', serif;
  --font-lulo-family: 'Lulo Clean One', sans-serif;
}
